.countries {
  padding: 3rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .countries {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 992px) {
  .countries {
    grid-template-columns: auto auto auto;
  }
}
